<div class="main-content">
    <div class="col-8 offset-2">
        <h1>About</h1>
        <mat-divider></mat-divider>
        <p>This research project builds upon several concepts from data science &amp; engineering, finance, and machine
            leanring. As a whole, the aim of this project is to create a valuable trading signal using a classifier,
            trained/tuned using an evolutionary algorithm.</p>
        <h3>Genetic Training/Tuning</h3>
        <p>In order for an algorithm to be considered evolutionary or genetic, it must uphold the following three
            properties of the natural
            selection process. </p>
        <p><strong>Heredity:</strong> The process by which children receive the properties of their parents.
            <span class="details">This allows for genetic material to be passed between generations.</span>
        </p>
        <p><strong>Variation:</strong> There must be a variety of traits present in the population with which to
            introduce variation.
            <span class="details">High variation allows for the algorithm to explore the search space more fully to
                avoid settling at local extrema of the
                optimization problem.</span>
        </p>
        <p><strong>Selection:</strong> The mechanism by which some members of the population have an opportunity to be
            parents and pass down their genetic
            information and some do not.
            <span class="details">This is the concept of “survival of the fittest” whereby some parents are more likely
                to pass on genetic information
                according to some fitness score.</span>
        </p>
        <p>Using these properties it is possible to then create a population of models with varying genetic material to
            explore the search space of various parameters and features of each model.</p>
    </div>
</div>