p {
    font-weight: 200;
}

.results-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.trading-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.results {
    width: 100%;
}

.header {
    .item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        app-back {
            margin-bottom: 16px;
        }
        .item-inner {
            h3 {
                margin-bottom: 0rem;
            }
            p {
                font-size: 12px;
            }
        }
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.duration {
    color: #ccc;
    font-size: 12px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.buy {
    color: #21ce99;
}

.sell {
    color: #f45531;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .loading-inner {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        max-width: 500px;
        width: auto;
    }
}
