<!-- <ng-container *ngFor="let symbol of symbols">
    <app-single-ticker [symbol]="symbol"></app-single-ticker>
</ng-container> -->

<mat-list>
    <div mat-subheader>Watching</div>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let symbol of symbols">
        <div class="ticker" mat-line>{{symbol}}</div>
        <div class="status" mat-line>buy/sell </div>
        <mat-icon (click)="remove(symbol)">remove</mat-icon>
    </mat-list-item>
    <div mat-subheader>Recommended</div>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let symbol of recommended">
        <div class="ticker" mat-line>{{symbol}}</div>
        <div class="status" mat-line> buy/sell </div>
        <mat-icon (click)="add(symbol)">add</mat-icon>
    </mat-list-item>
</mat-list>