/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: #001127;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu", sans-serif !important;
}

h1 {
    font-weight: 800 !important;
    font-size: 2rem !important;
}

h3 {
    font-weight: 400 !important;
    font-size: 1.25rem !important;
}

.main-content {
    margin: 1rem 1.125rem;
}
