/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    background-color: #001127;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu", sans-serif !important;
}

h1 {
    font-weight: 800 !important;
    font-size: 2rem !important;
}

h3 {
    font-weight: 400 !important;
    font-size: 1.25rem !important;
}

.main-content {
    margin: 1rem 1.125rem;
    height: 100%;
}

.full-width {
    width: 100%;
}

.details {
    color: #b3b3b3;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #0048a7;
}

.mat-progress-bar {
    height: 10px;
    border-radius: 50%;
}

.mat-progress-bar-fill::after {
    background-color: #003b88 !important;
}

.mat-progress-bar-buffer {
    background-color: #2273dd !important;
}
