<div class="main-content">
    <div class="form-container">
        <div class="row">
            <div class="col-md-12 col-lg-8 offset-lg-2">
                <div class="header">
                    <h1>Genetic Signal</h1>
                    <mat-divider></mat-divider>
                    <p class="details">Generates a buy/sell/hold signal through a classifier model trained with a
                        genetic algorithm.</p>
                    <p><a [routerLink]="['about']">Learn more</a></p>
                </div>
                <form [formGroup]="tickerForm">
                    <mat-form-field class="full-width">
                        <mat-label>Ticker</mat-label>
                        <input matInput placeholder="MSFT" formControlName="ticker">
                    </mat-form-field>
                </form>
                <button mat-raised-button (click)="submit()">Predict</button>
            </div>
        </div>
    </div>
</div>